# Server
PORT=
NODE_ENV=

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Cookie
COOKIE_SECRET=

# Client URL
CLIENT_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=
